<header class="header">
    <a href="/" class="header__logo">News</a>

    <div class="header__nav">
        <a href="#">Link1</a>
        <a href="#">Link2</a>
        <a href="/login">Logged in</a>
    </div>
</header>