<div class="index">
    <div class="section1">
        <div class="s1-content">
            <h1>Game-Bot</h1>
            <h2>We are the future of <span>discord games</span>, setup an amazing clicker game for your server with a huge ammount of customizability</h2>
            <a href="/dashboard"><button>Get Started</button></a>
        </div>
        
    </div>
</div>