<link rel="stylesheet" href="/static/css/index.css">

<div class="index">
    <div class="section1">
        <div class="s1-content">
            <h1>Game-Bot</h1>
            <h2>We are the future of <span>Discord Games</span>, setup an amazing clicker game for your server with a huge ammount of customizability</h2>
            <h3>Currently used in 284 servers</h3>
            <a href="/dashboard"><button>Invite bot</button></a>
        </div>
        <img src="/static/images/home/cookie-removebg-preview.png" alt="">
    </div>
    <div class="section2">
        <img src="" alt="">
        <div class="s2-content">
            <h1>Why should you use Game-Bot?</h1>
            <p>- Super vallid point goes here</p><br>
            <p>- Super vallid point goes here</p><br>
            <p>- Super vallid point goes here</p><br>
            <p>- Super vallid point goes here</p><br>
        </div>
    </div>
    <div class="section3">
        <div class="s3-content">
            <form action="/" method="post">
                <h1>Support</h1>
                <select name="issue" id="issue">
                    <option value="website">Issue with website</option>
                    <option value="bot">Issue with the discord bot</option>
                    <option value="dk">I don't know where the issue is</option>
                </select>
                <input type="text" name="description" placeholder="Describe your issue">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div