<h1>Hello World</h1>
<a id="login" href="https://discord.com/api/oauth2/authorize?client_id=1204331115679318056&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fredirect%2F&scope=identify+connections+guilds.join+gdm.join+guilds+email">Identify Yourself</a>