<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>News</title>
</head>
<body>
    <div class="nav">
        <h1 class="logo">News</h1>
        <a href="#"><p>Link1</p></a>
        <a href="#"><p>Link2</p></a>
        <a href="#"><p>log in</p></a>
    </div>
    <div class="main">

    </div>
    <div class="footer">

    </div>
</body>
</html>