<div class="regdiv">
    <div class="regdiv2">
        <form action="/register" method="POST">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" name="username" class="regtxtinp">
        
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password" class="regtxtinp">
        
            <input type="submit" value="register" class="regbutton">
        </form> 
    </div>
</div>