<div class="ut">
    <div class="utcontent">
        <h1>Username already in use, username shorter than 1 letter or password shorter than 5 letters</h1>
        <p>Please choose another username or password for your account</p>
    </div>
</div>