<script src="../public/js/index.js"></script>

<div class="index">
    <div class="articles">
        <div class="article1 article">
            <a href="/articles1">
                <h1 class="articles__heading"><span>Ny:</span> Siste uke før jul</h1>
                <img src="../public/images/christmastown.jpg" alt="">
            </a>
            <a href="https://openverse.org/image/0fd4f8bc-242f-42aa-a565-564aabd679a9?q=Christmas%20town">Image by Michael Cavén</a>
        </div>
        <div class="article23 article">
            <div class="articles2">
                <a href="/articles2">
                    <h1 class="articles2__heading"> her er det Største juletreet i ar</h1>
                    <img src="../public/images/christmasstree.jpg" alt="">
                </a>
                <a href="https://openverse.org/image/daebb11e-f488-44f5-bc60-4857676471b1?q=christmas%20town">Image by Marit & Toomas Hinnosaar </a>
            </div>
            <div class="article3 article">
                <a href="/articles3">
                    <h1 class="articles3__heading"><span>Siste:</span> Flere melder å ha sett nissens reinsdyr</h1>
                    <img src="../public/images/reinsdyr.jpg" alt="">
                </a>
                <a href="https://openverse.org/image/9f211ecc-44ed-4732-8476-504b230efd22?q=Reindeer">Image by blondinrikard</a>
            </div>
        </div>
    </div>
</div> 