<script src="../public/js/index.js"></script>

<div class="index">

    <div class="articles">
        <div class="article1">
            <a href="/articles1">
                <h1 class="articles__heading">Siste uke før jul</h1>
                <img src="../public/images/christmastown.jpg" alt="">
            </a>
            <a href="https://openverse.org/image/0fd4f8bc-242f-42aa-a565-564aabd679a9?q=Christmas%20town">Image by Michael Cavén</a>
        </div>
    </div>
</div> 