<div class="index">
    <div class="author">
        <h1 class="author__heading">Hi, I am Felix</h1>
        <p class="author__body">Web Developer</p>
    </div>
    
    <img src="https://www.seiu1000.org/sites/main/files/main-images/camera_lense_0.jpeg" alt="" class="hero-image" width="981" height="528">
    

     
    <div class="articles">
        <h2 class="articles__heading">Lates Posts</h2>
        <% data.forEach(user => { %>
        <div class="articlelist">
            <li>
                <a href="#">
                    <span><%=user.username %></span>
                </a>
            </li>
        </div>

    <% }) %>
    
        <a href="#" class="pagination">&lt; View Older Posts</a>
    </div>
</div>