<div class="logindiv">
    <div class="logindiv2">
        <form action="/login" method="POST">
            <label for="username">Log in</label>
            <input type="text" placeholder="Enter Username" name="username" class="logintxtinp">
        
            <input type="password" placeholder="Enter Password" name="password" class="logintxtinp">
        
            <input type="submit" value="Login" class="loginbutton">
            <a href="/register"><button type="button" class="loginregisterbutton">Register</button></a>
        </form> 
    </div>
</div>